html,body{
    margin: 0;
    padding: 0;
    background-color: teal;
    color:white;
    font-family: sans-serif;
}

h1{
    display: inline;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}
.text1{
    color: blue;
}
.text2{
    color: green;
}

.text3{
    color: brown;
}