html,body{
    margin: 0;
    padding: 0;
    background-color: teal;
    color:white;
    font-family: sans-serif;
}

h1{
    display: block;
    text-align: center;
   
   
    
}
.text1{
    color: blue;
}
.text2{
    color: green;
}

.text3{
    color: brown;
}